doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div#tweets
		div#oldtweets= old
		script(src='/socket.io/socket.io.js')
		script.
			var socket = io.connect('http://2adf8d2cc6a83ccdf1bcfbed48519483f1de7382.cloudapp.appcelerator.com'),
			//var socket = io.connect('http://localhost'),
			tweets = document.getElementById('tweets');
			socket.on('tweet', function (data) {
			tweets.innerHTML = tweets.innerHTML + '<br>' + data;});
			socket.emit('stream', '#raclife,@GSUCampusRec,love');